openapi: 3.0.3
info:
  title: Aira API
  description: Documentation for the Aira Billing API.
  version: "1.0"
servers:
  - url: https://api.useaira.com/v1
security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-API-KEY
      in: header
      
paths:
  /v1/events/:
    post:
      summary: Record Events
      tags:
        - Events
      description: >-
        This endpoint allows for the batch recording of events related to
        customer interactions with resources. Each event captures a unique
        interaction at a specific point in time, including the involved resource
        and customer, the nature of the interaction (value), and when it
        occurred.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                description: Schema defining an event.
                properties:
                  resourceExternalId:
                    type: string
                    minLength: 1
                    description: External identifier of the resource involved in the event.
                  customerExternalId:
                    type: string
                    minLength: 1
                    description: External identifier of the customer involved in the event.
                  value:
                    type: number
                    minimum: 0
                    description: >-
                      Numeric value associated with the event. Must be
                      non-negative.
                  idempotencyKey:
                    type: string
                    minLength: 1
                    description: Unique key to ensure idempotency of event creation.
                  occurredAt:
                    type: string
                    format: date-time
                    description: Timestamp indicating when the event occurred.
                required:
                  - resourceExternalId
                  - customerExternalId
                  - value
                  - idempotencyKey
                  - occurredAt
                additionalProperties: false
              minItems: 1
              description: >-
                An array of event objects. Each event includes a
                resourceExternalId, customerExternalId, value, and occurredAt
                timestamp, alongside an optional idempotencyKey for ensuring
                uniqueness. Requires at least one event object to proceed.
        description: >-
          An array of event objects. Each event includes a resourceExternalId,
          customerExternalId, value, and occurredAt timestamp, alongside an
          optional idempotencyKey for ensuring uniqueness. Requires at least one
          event object to proceed.
      x-expose-in-openapi: true
      responses:
        '204':
          description: >-
            The request was successfully processed and the events were recorded.
            No content is returned.
          content:
            application/json:
              schema:
                description: >-
                  The request was successfully processed and the events were
                  recorded. No content is returned.
        '400':
          description: >-
            Invalid request due to incorrect data or all events could not be
            processed successfully, so none have been recorded. This response
            includes details on which events failed and why, to aid in
            correcting and resubmitting the events.
          content:
            application/json:
              schema:
                description: >-
                  Invalid request due to incorrect data or all events could not
                  be processed successfully, so none have been recorded. This
                  response includes details on which events failed and why, to
                  aid in correcting and resubmitting the events.
  /v1/invoices/:
    get:
      summary: List Invoices
      tags:
        - Invoices
      description: >-
        This endpoint allows for the retrieval of a list of invoices based on
        customerId, customerExternalId, invoiceStartDateFrom,
        invoiceStartDateTo,  invoiceEndDateFrom, and invoiceEndDateTo. The
        response will include a list of invoices that match the provided
        filters. It also returns, if available, a `pix` and `bank_slip` URL for
        each invoice, which expires after 15 minutes. 
      parameters:
        - schema:
            type: string
            format: date
          in: query
          name: startDateFrom
          required: false
          description: >-
            Filter invoices by the start date of the billing cycle. The date
            must be in ISO 8601 format.
        - schema:
            type: string
            format: date
          in: query
          name: startDateTo
          required: false
          description: >-
            Filter invoices by the end date of the billing cycle. The date must
            be in ISO 8601 format.
        - schema:
            type: string
            format: date
          in: query
          name: endDateFrom
          required: false
          description: >-
            Filter invoices by the end date of the billing cycle. The date must
            be in ISO 8601 format.
        - schema:
            type: string
            format: date
          in: query
          name: endDateTo
          required: false
          description: >-
            Filter invoices by the end date of the billing cycle. The date must
            be in ISO 8601 format.
        - schema:
            type: string
            format: uuid
          in: query
          name: customerId
          required: false
          description: The internal unique identifier of the customer.
        - schema:
            type: string
          in: query
          name: externalCustomerId
          required: false
          description: >-
            The external unique identifier of the customer provided by the
            tenant.
      x-expose-in-openapi: true
      responses:
        '200':
          description: >-
            The request was successfully processed and the list of invoices is
            returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: The unique identifier of the invoice.
                    displayId:
                      type: string
                      description: The human-readable identifier of the invoice.
                    customer:
                      type: object
                      description: The customer associated with this invoice.
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The unique identifier of the customer.
                        externalId:
                          type: string
                          minLength: 1
                          description: External identifier for the customer.
                        name:
                          type: string
                          minLength: 1
                          description: The name of the customer.
                      required:
                        - id
                        - externalId
                        - name
                      additionalProperties: false
                    paymentAccount:
                      description: The payment account used for this invoice.
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The unique identifier of the payment account.
                        businessName:
                          type: string
                          minLength: 1
                          description: >-
                            The legal business name of the payment account
                            holder.
                        tradeName:
                          type: string
                          minLength: 1
                          nullable: true
                          description: >-
                            The trade or "doing business as" name of the payment
                            account holder.
                        taxId:
                          type: string
                          pattern: ^\d{14}$
                          description: >-
                            The tax identification number (CNPJ) of the payment
                            account holder.
                        email:
                          type: string
                          format: email
                          nullable: true
                          description: The contact email address for the payment account.
                        address:
                          type: object
                          properties:
                            zipCode:
                              type: string
                              minLength: 8
                              maxLength: 8
                              pattern: ^[0-9]{8}$
                              description: The postal code (CEP) of the address.
                            number:
                              type: string
                              minLength: 1
                              description: The street number of the address.
                            street:
                              type: string
                              minLength: 1
                              description: The street name of the address.
                            neighborhood:
                              type: string
                              minLength: 1
                              description: The neighborhood or district of the address.
                            city:
                              type: string
                              minLength: 1
                              description: The city name of the address.
                            state:
                              type: string
                              enum:
                                - AC
                                - AL
                                - AP
                                - AM
                                - BA
                                - CE
                                - DF
                                - ES
                                - GO
                                - MA
                                - MT
                                - MS
                                - MG
                                - PA
                                - PB
                                - PR
                                - PE
                                - PI
                                - RJ
                                - RN
                                - RS
                                - RO
                                - RR
                                - SC
                                - SP
                                - SE
                                - TO
                              description: The state abbreviation of the address.
                            country:
                              type: string
                              enum:
                                - Brasil
                              description: The country code of the address.
                            complement:
                              type: string
                              nullable: true
                              description: >-
                                Additional address information like apartment
                                number, floor, etc.
                          required:
                            - zipCode
                            - number
                            - street
                            - neighborhood
                            - city
                            - state
                            - country
                            - complement
                          additionalProperties: false
                          nullable: true
                          description: >-
                            The physical address associated with the payment
                            account.
                      required:
                        - id
                        - businessName
                        - tradeName
                        - taxId
                        - email
                        - address
                      additionalProperties: false
                    startDate:
                      type: string
                      format: date
                      description: The start date of the billing period.
                    endDate:
                      type: string
                      format: date
                      description: The end date of the billing period.
                    totalAmount:
                      type: number
                      minimum: 0
                      description: The total amount to be paid for this invoice.
                    closedReason:
                      type: string
                      enum:
                        - end_of_cycle
                        - billing_end_day_updated
                      description: The reason why the billing cycle was closed.
                    payments:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          amount:
                            type: number
                          dueDate:
                            type: string
                            format: date
                          createdAt:
                            type: string
                            format: date-time
                          processedAt:
                            type: string
                            format: date-time
                            nullable: true
                          paymentMethod:
                            type: string
                            enum:
                              - bolepix
                              - bank_slip
                              - pix
                            nullable: true
                          status:
                            type: string
                            enum:
                              - created
                              - pending
                              - paid
                              - failed
                              - canceled
                              - expired
                          pixLink:
                            type: string
                            nullable: true
                          bankSlipLink:
                            type: string
                            nullable: true
                        required:
                          - id
                          - amount
                          - dueDate
                          - createdAt
                          - processedAt
                          - paymentMethod
                          - status
                          - pixLink
                          - bankSlipLink
                        additionalProperties: false
                      nullable: true
                      description: List of payments associated with this invoice.
                    status:
                      type: string
                      enum:
                        - open
                        - closed
                        - paid
                        - canceled
                      description: The current status of the invoice.
                  required:
                    - id
                    - displayId
                    - customer
                    - paymentAccount
                    - payments
                    - startDate
                    - endDate
                    - totalAmount
                    - status
                  additionalProperties: false
                description: >-
                  The request was successfully processed and the list of
                  invoices is returned.
  /v1/invoices/{id}:
    get:
      summary: Get Invoice
      tags:
        - Invoices
      description: >-
        This endpoint allows for the retrieval of an invoice by id. It also
        returns, if available, a `pix` and `bank_slip` URL for each invoice,
        which expires after 15 minutes.
      parameters:
        - schema:
            type: string
            format: uuid
          in: path
          name: id
          required: true
          description: The invoice id.
      x-expose-in-openapi: true
      responses:
        '200':
          description: The request was successfully processed and the invoice is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: The unique identifier of the invoice.
                  displayId:
                    type: string
                    description: The human-readable identifier of the invoice.
                  customer:
                    type: object
                    description: The customer associated with this invoice.
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The unique identifier of the customer.
                      externalId:
                        type: string
                        minLength: 1
                        description: External identifier for the customer.
                      name:
                        type: string
                        minLength: 1
                        description: The name of the customer.
                    required:
                      - id
                      - externalId
                      - name
                    additionalProperties: false
                  paymentAccount:
                    description: The payment account used for this invoice.
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The unique identifier of the payment account.
                      businessName:
                        type: string
                        minLength: 1
                        description: The legal business name of the payment account holder.
                      tradeName:
                        type: string
                        minLength: 1
                        nullable: true
                        description: >-
                          The trade or "doing business as" name of the payment
                          account holder.
                      taxId:
                        type: string
                        pattern: ^\d{14}$
                        description: >-
                          The tax identification number (CNPJ) of the payment
                          account holder.
                      email:
                        type: string
                        format: email
                        nullable: true
                        description: The contact email address for the payment account.
                      address:
                        type: object
                        properties:
                          zipCode:
                            type: string
                            minLength: 8
                            maxLength: 8
                            pattern: ^[0-9]{8}$
                            description: The postal code (CEP) of the address.
                          number:
                            type: string
                            minLength: 1
                            description: The street number of the address.
                          street:
                            type: string
                            minLength: 1
                            description: The street name of the address.
                          neighborhood:
                            type: string
                            minLength: 1
                            description: The neighborhood or district of the address.
                          city:
                            type: string
                            minLength: 1
                            description: The city name of the address.
                          state:
                            type: string
                            enum:
                              - AC
                              - AL
                              - AP
                              - AM
                              - BA
                              - CE
                              - DF
                              - ES
                              - GO
                              - MA
                              - MT
                              - MS
                              - MG
                              - PA
                              - PB
                              - PR
                              - PE
                              - PI
                              - RJ
                              - RN
                              - RS
                              - RO
                              - RR
                              - SC
                              - SP
                              - SE
                              - TO
                            description: The state abbreviation of the address.
                          country:
                            type: string
                            enum:
                              - Brasil
                            description: The country code of the address.
                          complement:
                            type: string
                            nullable: true
                            description: >-
                              Additional address information like apartment
                              number, floor, etc.
                        required:
                          - zipCode
                          - number
                          - street
                          - neighborhood
                          - city
                          - state
                          - country
                          - complement
                        additionalProperties: false
                        nullable: true
                        description: >-
                          The physical address associated with the payment
                          account.
                    required:
                      - id
                      - businessName
                      - tradeName
                      - taxId
                      - email
                      - address
                    additionalProperties: false
                  startDate:
                    type: string
                    format: date
                    description: The start date of the billing period.
                  endDate:
                    type: string
                    format: date
                    description: The end date of the billing period.
                  totalAmount:
                    type: number
                    minimum: 0
                    description: The total amount to be paid for this invoice.
                  closedReason:
                    type: string
                    enum:
                      - end_of_cycle
                      - billing_end_day_updated
                    description: The reason why the billing cycle was closed.
                  payments:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        amount:
                          type: number
                        dueDate:
                          type: string
                          format: date
                        createdAt:
                          type: string
                          format: date-time
                        processedAt:
                          type: string
                          format: date-time
                          nullable: true
                        paymentMethod:
                          type: string
                          enum:
                            - bolepix
                            - bank_slip
                            - pix
                          nullable: true
                        status:
                          type: string
                          enum:
                            - created
                            - pending
                            - paid
                            - failed
                            - canceled
                            - expired
                        pixLink:
                          type: string
                          nullable: true
                        bankSlipLink:
                          type: string
                          nullable: true
                      required:
                        - id
                        - amount
                        - dueDate
                        - createdAt
                        - processedAt
                        - paymentMethod
                        - status
                        - pixLink
                        - bankSlipLink
                      additionalProperties: false
                    nullable: true
                    description: List of payments associated with this invoice.
                  status:
                    type: string
                    enum:
                      - open
                      - closed
                      - paid
                      - canceled
                    description: The current status of the invoice.
                  plans:
                    type: array
                    items:
                      type: object
                      description: Extended plan schema with product, metrics and settings.
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The unique identifier for this plan.
                        name:
                          type: string
                          minLength: 1
                          description: The name of the plan.
                        description:
                          type: string
                          nullable: true
                          description: Optional description of the plan.
                        product:
                          type: object
                          description: The product associated with this plan.
                          properties:
                            id:
                              type: string
                              format: uuid
                              description: The unique identifier for this product.
                            name:
                              type: string
                              minLength: 1
                              description: The name of the product.
                          required:
                            - id
                            - name
                          additionalProperties: false
                        metrics:
                          type: array
                          items:
                            anyOf:
                              - type: object
                                description: Invoice in full metric schema.
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                    description: The unique identifier for this metric.
                                  resourceId:
                                    type: string
                                    format: uuid
                                    description: >-
                                      The ID of the resource this metric is
                                      associated with.
                                  name:
                                    type: string
                                    minLength: 1
                                    description: The name of the metric.
                                  aggregation:
                                    type: string
                                    nullable: true
                                    enum:
                                      - sum
                                      - last_during_period
                                      - null
                                    description: >-
                                      The aggregation method used for this
                                      metric. Can be null.
                                  billingModel:
                                    type: string
                                    description: The billing model type, set to InFull.
                                    enum:
                                      - in_full
                                  priceTierDivision:
                                    type: string
                                    enum:
                                      - unique_tier
                                      - progressive
                                    description: >-
                                      The price tier division method for this
                                      metric.
                                  fixedAmount:
                                    type: number
                                    minimum: 0
                                    description: The fixed cost amount for this metric.
                                  resourceName:
                                    type: string
                                    minLength: 1
                                    description: The name of the resource.
                                  priceTiers:
                                    type: array
                                    items:
                                      type: object
                                      description: Price tier configuration for a metric.
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                          description: >-
                                            The unique identifier for this price
                                            tier.
                                        billingType:
                                          type: string
                                          enum:
                                            - unit
                                            - package
                                            - flat
                                          description: The billing type for this price tier.
                                        from:
                                          type: number
                                          minimum: 1
                                          description: The starting value for this price tier.
                                        to:
                                          type: number
                                          nullable: true
                                          minimum: 1
                                          description: >-
                                            The ending value for this price tier.
                                            Null indicates no upper bound.
                                        packageSize:
                                          type: number
                                          nullable: true
                                          minimum: 1
                                          description: >-
                                            The package size for package-based
                                            billing. Null if not package-based.
                                        price:
                                          type: string
                                          pattern: ^\d+(\.\d{1,6})?$
                                          description: >-
                                            The price for this tier in decimal
                                            format.
                                        totalAmount:
                                          type: number
                                          minimum: 0
                                          description: The total amount for this price tier.
                                        usage:
                                          type: number
                                          minimum: 0
                                          description: The usage amount for this price tier.
                                      required:
                                        - id
                                        - billingType
                                        - from
                                        - to
                                        - packageSize
                                        - price
                                        - totalAmount
                                        - usage
                                    description: List of price tiers for this metric.
                                  totalAmount:
                                    type: number
                                    minimum: 0
                                    description: The total amount for this metric.
                                required:
                                  - id
                                  - resourceId
                                  - name
                                  - aggregation
                                  - fixedAmount
                                  - billingModel
                                  - priceTierDivision
                                  - resourceName
                                  - priceTiers
                                  - totalAmount
                              - type: object
                                description: Invoice proration metric schema.
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                    description: The unique identifier for this metric.
                                  resourceId:
                                    type: string
                                    format: uuid
                                    description: >-
                                      The ID of the resource this metric is
                                      associated with.
                                  name:
                                    type: string
                                    minLength: 1
                                    description: The name of the metric.
                                  billingModel:
                                    type: string
                                    description: The billing model type, set to Proration.
                                    enum:
                                      - proration
                                  priceTierDivision:
                                    type: string
                                    enum:
                                      - unique_tier
                                      - progressive
                                    description: >-
                                      The price tier division method for this
                                      metric.
                                  fixedAmount:
                                    type: number
                                    minimum: 0
                                    description: The fixed cost amount for this metric.
                                  resourceName:
                                    type: string
                                    minLength: 1
                                    description: The name of the resource.
                                  totalAmount:
                                    type: number
                                    minimum: 0
                                    description: The total amount for this metric.
                                  priceTiers:
                                    type: array
                                    items:
                                      type: object
                                      description: Price tier configuration for a metric.
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                          description: >-
                                            The unique identifier for this price
                                            tier.
                                        billingType:
                                          type: string
                                          enum:
                                            - unit
                                            - package
                                            - flat
                                          description: The billing type for this price tier.
                                        from:
                                          type: number
                                          minimum: 1
                                          description: The starting value for this price tier.
                                        to:
                                          type: number
                                          nullable: true
                                          minimum: 1
                                          description: >-
                                            The ending value for this price tier.
                                            Null indicates no upper bound.
                                        packageSize:
                                          type: number
                                          nullable: true
                                          minimum: 1
                                          description: >-
                                            The package size for package-based
                                            billing. Null if not package-based.
                                        price:
                                          type: string
                                          pattern: ^\d+(\.\d{1,6})?$
                                          description: >-
                                            The price for this tier in decimal
                                            format.
                                      required:
                                        - id
                                        - billingType
                                        - from
                                        - to
                                        - packageSize
                                        - price
                                    description: >-
                                      List of price tiers for this prorated
                                      metric.
                                  prorationMetricBillings:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                          description: >-
                                            The unique identifier for this proration
                                            metric billing.
                                        intervalStart:
                                          type: string
                                          description: >-
                                            The start date of the proration
                                            interval.
                                        intervalEnd:
                                          type: string
                                          description: The end date of the proration interval.
                                        usage:
                                          type: number
                                          minimum: 0
                                          description: >-
                                            The usage amount for this proration
                                            period.
                                        amount:
                                          type: number
                                          minimum: 0
                                          description: >-
                                            The cost amount for this proration
                                            period.
                                      required:
                                        - usage
                                        - amount
                                        - intervalStart
                                        - intervalEnd
                                    description: >-
                                      List of proration billing periods for this
                                      metric.
                                required:
                                  - id
                                  - resourceId
                                  - name
                                  - fixedAmount
                                  - billingModel
                                  - priceTierDivision
                                  - resourceName
                                  - totalAmount
                          minItems: 1
                          description: List of metrics associated with this plan.
                        planSettings:
                          type: object
                          description: Settings configuration for this plan.
                          properties:
                            id:
                              type: string
                              format: uuid
                              description: The plan settings id.
                            fixedAmount:
                              type: number
                              minimum: 0
                              description: The fixed cost amount for this plan.
                          required:
                            - id
                            - fixedAmount
                        totalAmount:
                          type: number
                          minimum: 0
                          description: The total amount for this plan.
                      required:
                        - id
                        - name
                        - description
                        - metrics
                        - product
                        - planSettings
                        - totalAmount
                      additionalProperties: false
                    minItems: 1
                    description: List of plans associated with this invoice.
                  additionalItems:
                    type: array
                    items:
                      type: object
                      description: Additional item object.
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The additional item id.
                        name:
                          type: string
                          minLength: 1
                          description: Name of the additional item.
                        description:
                          type: string
                          minLength: 1
                          nullable: true
                          description: Optional description of the additional item.
                        amount:
                          type: number
                          minimum: 1
                          description: Cost amount of the additional item.
                        type:
                          type: string
                          enum:
                            - discount
                            - additional_charge
                          description: Type of the additional billing item.
                      required:
                        - id
                        - name
                        - amount
                        - type
                        - description
                      additionalProperties: false
                    description: List of additional items charged in this invoice.
                required:
                  - id
                  - displayId
                  - customer
                  - paymentAccount
                  - payments
                  - startDate
                  - endDate
                  - totalAmount
                  - status
                  - plans
                  - additionalItems
                additionalProperties: false
                description: >-
                  The request was successfully processed and the invoice is
                  returned.
        '404':
          description: The invoice was not found.
          content:
            application/json:
              schema:
                description: The invoice was not found.
  /v1/contracts/:
    post:
      summary: Create a Contract
      tags:
        - Contracts
      description: >-
        This endpoint allows the creation of a new contract. If needed, it also
        permits the creation of a new customer and a new payment account or the
        provision of existing customer and payment account IDs to sync the new
        contract with them.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: object
                  description: New Customer details.
                  properties:
                    externalId:
                      type: string
                      minLength: 1
                      description: External identifier for the customer.
                    name:
                      type: string
                      minLength: 1
                      description: The name of the customer.
                  required:
                    - externalId
                    - name
                  additionalProperties: false
                paymentAccount:
                  description: New Payment Account details.
                  type: object
                  properties:
                    businessName:
                      type: string
                      minLength: 1
                      description: The legal business name of the payment account holder.
                    tradeName:
                      type: string
                      minLength: 1
                      nullable: true
                      description: >-
                        The trade or "doing business as" name of the payment
                        account holder.
                    taxId:
                      type: string
                      pattern: ^\d{14}$
                      description: >-
                        The tax identification number (CNPJ) of the payment
                        account holder.
                    email:
                      type: string
                      format: email
                      nullable: true
                      description: The contact email address for the payment account.
                    address:
                      type: object
                      properties:
                        zipCode:
                          type: string
                          minLength: 8
                          maxLength: 8
                          pattern: ^[0-9]{8}$
                          description: The postal code (CEP) of the address.
                        number:
                          type: string
                          minLength: 1
                          description: The street number of the address.
                        street:
                          type: string
                          minLength: 1
                          description: The street name of the address.
                        neighborhood:
                          type: string
                          minLength: 1
                          description: The neighborhood or district of the address.
                        city:
                          type: string
                          minLength: 1
                          description: The city name of the address.
                        state:
                          type: string
                          enum:
                            - AC
                            - AL
                            - AP
                            - AM
                            - BA
                            - CE
                            - DF
                            - ES
                            - GO
                            - MA
                            - MT
                            - MS
                            - MG
                            - PA
                            - PB
                            - PR
                            - PE
                            - PI
                            - RJ
                            - RN
                            - RS
                            - RO
                            - RR
                            - SC
                            - SP
                            - SE
                            - TO
                          description: The state abbreviation of the address.
                        country:
                          type: string
                          enum:
                            - Brasil
                          description: The country code of the address.
                        complement:
                          type: string
                          nullable: true
                          description: >-
                            Additional address information like apartment
                            number, floor, etc.
                      required:
                        - zipCode
                        - number
                        - street
                        - neighborhood
                        - city
                        - state
                        - country
                        - complement
                      additionalProperties: false
                      nullable: true
                      description: >-
                        The physical address associated with the payment
                        account.
                  required:
                    - businessName
                    - tradeName
                    - taxId
                    - email
                    - address
                  additionalProperties: false
                customerId:
                  type: string
                  format: uuid
                  description: >-
                    Existing customer ID. If provided, a new customer will not
                    be created. 
                            **Note:** You cannot provide both a `customerId` and a new `customer` object at the same time.
                paymentAccountId:
                  type: string
                  format: uuid
                  description: >-
                    Existing payment account ID. If provided, a new payment
                    account will not be created. 
                            **Note:** You cannot provide both a `paymentAccountId` and a new `paymentAccount` object at the same time.
                contract:
                  type: object
                  description: New Contract details.
                  properties:
                    startDate:
                      type: string
                      format: date
                      description: Date when the contract becomes active.
                    endDate:
                      type: string
                      format: date
                      nullable: true
                      description: >-
                        Optional date when the contract expires. If null, the
                        contract has no end date.
                    billingEndDay:
                      type: number
                      minimum: 1
                      maximum: 31
                      description: Day of the month when the billing cycle ends (1-31).
                    planIds:
                      type: array
                      items:
                        type: string
                        format: uuid
                      minItems: 0
                      description: List of plan IDs to be associated with the contract.
                    paymentSettings:
                      type: object
                      description: >-
                        Schema defining payment gateway settings for a contract.
                        Required if payment gateway is enabled.
                      properties:
                        paymentOffsetDays:
                          type: number
                          minimum: 0
                          description: >-
                            Number of days after the invoice is closed when the
                            payment will be initiated.
                        dueOffsetDays:
                          type: number
                          minimum: 5
                          description: >-
                            Number of days after the payment start date until
                            payment is due (minimum of 5 days).
                      required:
                        - paymentOffsetDays
                        - dueOffsetDays
                      additionalProperties: false
                      nullable: true
                  required:
                    - startDate
                    - endDate
                    - billingEndDay
                    - planIds
                    - paymentSettings
                  additionalProperties: false
              oneOf:
                - required:
                    - customer
                    - paymentAccount
                  title: New contract for a new customer.
                  description: >-
                    Provide a new customer and a new payment account to create a
                    new contract for the new customer and payment account.
                - required:
                    - customerId
                    - paymentAccountId
                  title: New contract for an existing customer.
                  description: >-
                    Provide an existing customer ID and an existing payment
                    account ID to create a new contract for the existing
                    customer and payment account.
              required:
                - contract
              additionalProperties: false
        required: true
      x-expose-in-openapi: true
      responses:
        '201':
          description: >-
            The request was successfully processed, and the contract has been
            created. As well as new customer and/or a new payment account if
            they were part of the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contract:
                    description: Schema defining the contract details.
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Unique identifier for the contract.
                      startDate:
                        type: string
                        format: date
                        description: Date when the contract becomes active.
                      endDate:
                        type: string
                        format: date
                        nullable: true
                        description: >-
                          Optional date when the contract expires. If null, the
                          contract has no end date.
                      billingEndDay:
                        type: number
                        minimum: 1
                        maximum: 31
                        description: Day of the month when the billing cycle ends (1-31).
                      status:
                        type: string
                        enum:
                          - active
                          - canceled
                          - completed
                        description: Current status of the contract.
                      plans:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              nullable: true
                          required:
                            - id
                            - name
                            - description
                          additionalProperties: false
                        description: >-
                          List of subscription plans associated with this
                          contract.
                      paymentSettings:
                        type: object
                        description: >-
                          Schema defining payment gateway settings for a
                          contract. Required if payment gateway is enabled.
                        properties:
                          paymentOffsetDays:
                            type: number
                            minimum: 0
                            description: >-
                              Number of days after the invoice is closed when
                              the payment will be initiated.
                          dueOffsetDays:
                            type: number
                            minimum: 5
                            description: >-
                              Number of days after the payment start date until
                              payment is due (minimum of 5 days).
                        required:
                          - paymentOffsetDays
                          - dueOffsetDays
                        additionalProperties: false
                        nullable: true
                    required:
                      - id
                      - startDate
                      - endDate
                      - billingEndDay
                      - status
                      - plans
                      - paymentSettings
                    additionalProperties: false
                  customer:
                    type: object
                    description: Schema representing a customer.
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The unique identifier of the customer.
                      externalId:
                        type: string
                        minLength: 1
                        description: External identifier for the customer.
                      name:
                        type: string
                        minLength: 1
                        description: The name of the customer.
                    required:
                      - id
                      - externalId
                      - name
                    additionalProperties: false
                  paymentAccount:
                    description: Schema representing a payment account.
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The unique identifier of the payment account.
                      businessName:
                        type: string
                        minLength: 1
                        description: The legal business name of the payment account holder.
                      tradeName:
                        type: string
                        minLength: 1
                        nullable: true
                        description: >-
                          The trade or "doing business as" name of the payment
                          account holder.
                      taxId:
                        type: string
                        pattern: ^\d{14}$
                        description: >-
                          The tax identification number (CNPJ) of the payment
                          account holder.
                      email:
                        type: string
                        format: email
                        nullable: true
                        description: The contact email address for the payment account.
                      address:
                        type: object
                        properties:
                          zipCode:
                            type: string
                            minLength: 8
                            maxLength: 8
                            pattern: ^[0-9]{8}$
                            description: The postal code (CEP) of the address.
                          number:
                            type: string
                            minLength: 1
                            description: The street number of the address.
                          street:
                            type: string
                            minLength: 1
                            description: The street name of the address.
                          neighborhood:
                            type: string
                            minLength: 1
                            description: The neighborhood or district of the address.
                          city:
                            type: string
                            minLength: 1
                            description: The city name of the address.
                          state:
                            type: string
                            enum:
                              - AC
                              - AL
                              - AP
                              - AM
                              - BA
                              - CE
                              - DF
                              - ES
                              - GO
                              - MA
                              - MT
                              - MS
                              - MG
                              - PA
                              - PB
                              - PR
                              - PE
                              - PI
                              - RJ
                              - RN
                              - RS
                              - RO
                              - RR
                              - SC
                              - SP
                              - SE
                              - TO
                            description: The state abbreviation of the address.
                          country:
                            type: string
                            enum:
                              - Brasil
                            description: The country code of the address.
                          complement:
                            type: string
                            nullable: true
                            description: >-
                              Additional address information like apartment
                              number, floor, etc.
                        required:
                          - zipCode
                          - number
                          - street
                          - neighborhood
                          - city
                          - state
                          - country
                          - complement
                        additionalProperties: false
                        nullable: true
                        description: >-
                          The physical address associated with the payment
                          account.
                    required:
                      - id
                      - businessName
                      - tradeName
                      - taxId
                      - email
                      - address
                    additionalProperties: false
                required:
                  - contract
                  - customer
                  - paymentAccount
                additionalProperties: false
                description: >-
                  The request was successfully processed, and the contract has
                  been created. As well as new customer and/or a new payment
                  account if they were part of the request.
        '400':
          description: >-
            Invalid request due to the external ID belonging to a different
            customer, tax ID belongs to another payment account or duplication
            found within the array of plan IDs.
          content:
            application/json:
              schema:
                description: >-
                  Invalid request due to the external ID belonging to a
                  different customer, tax ID belongs to another payment account
                  or duplication found within the array of plan IDs.
        '401':
          description: Existing ID and new entity cannot be provided together.
          content:
            application/json:
              schema:
                description: Existing ID and new entity cannot be provided together.
        '404':
          description: >-
            Customer not found or payment account not found for the provided
            IDs.
          content:
            application/json:
              schema:
                description: >-
                  Customer not found or payment account not found for the
                  provided IDs.
        '500':
          description: Failed to create customer, payment account, or contract.
          content:
            application/json:
              schema:
                description: Failed to create customer, payment account, or contract.
  /v1/contracts/{id}:
    put:
      summary: Update a Contract
      tags:
        - Contracts
      description: This endpoint allows the update of a contract.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentAccount:
                  description: New Payment Account details.
                  type: object
                  properties:
                    businessName:
                      type: string
                      minLength: 1
                      description: The legal business name of the payment account holder.
                    tradeName:
                      type: string
                      minLength: 1
                      nullable: true
                      description: >-
                        The trade or "doing business as" name of the payment
                        account holder.
                    taxId:
                      type: string
                      pattern: ^\d{14}$
                      description: >-
                        The tax identification number (CNPJ) of the payment
                        account holder.
                    email:
                      type: string
                      format: email
                      nullable: true
                      description: The contact email address for the payment account.
                    address:
                      type: object
                      properties:
                        zipCode:
                          type: string
                          minLength: 8
                          maxLength: 8
                          pattern: ^[0-9]{8}$
                          description: The postal code (CEP) of the address.
                        number:
                          type: string
                          minLength: 1
                          description: The street number of the address.
                        street:
                          type: string
                          minLength: 1
                          description: The street name of the address.
                        neighborhood:
                          type: string
                          minLength: 1
                          description: The neighborhood or district of the address.
                        city:
                          type: string
                          minLength: 1
                          description: The city name of the address.
                        state:
                          type: string
                          enum:
                            - AC
                            - AL
                            - AP
                            - AM
                            - BA
                            - CE
                            - DF
                            - ES
                            - GO
                            - MA
                            - MT
                            - MS
                            - MG
                            - PA
                            - PB
                            - PR
                            - PE
                            - PI
                            - RJ
                            - RN
                            - RS
                            - RO
                            - RR
                            - SC
                            - SP
                            - SE
                            - TO
                          description: The state abbreviation of the address.
                        country:
                          type: string
                          enum:
                            - Brasil
                          description: The country code of the address.
                        complement:
                          type: string
                          nullable: true
                          description: >-
                            Additional address information like apartment
                            number, floor, etc.
                      required:
                        - zipCode
                        - number
                        - street
                        - neighborhood
                        - city
                        - state
                        - country
                        - complement
                      additionalProperties: false
                      nullable: true
                      description: >-
                        The physical address associated with the payment
                        account.
                  required:
                    - businessName
                    - tradeName
                    - taxId
                    - email
                    - address
                  additionalProperties: false
                paymentAccountId:
                  type: string
                  format: uuid
                  description: >-
                    Existing payment account ID. If provided, a new payment
                    account will not be created. 
                            **Note:** You cannot provide both a `paymentAccountId` and a new `paymentAccount` object at the same time.
                contract:
                  type: object
                  description: New Contract details.
                  properties:
                    startDate:
                      type: string
                      format: date
                      description: Date when the contract becomes active.
                    endDate:
                      type: string
                      format: date
                      nullable: true
                      description: >-
                        Optional date when the contract expires. If null, the
                        contract has no end date.
                    billingEndDay:
                      type: number
                      minimum: 1
                      maximum: 31
                      description: Day of the month when the billing cycle ends (1-31).
                    planIds:
                      type: array
                      items:
                        type: string
                        format: uuid
                      minItems: 0
                      description: List of plan IDs to be associated with the contract.
                    paymentSettings:
                      type: object
                      description: >-
                        Schema defining payment gateway settings for a contract.
                        Required if payment gateway is enabled.
                      properties:
                        paymentOffsetDays:
                          type: number
                          minimum: 0
                          description: >-
                            Number of days after the invoice is closed when the
                            payment will be initiated.
                        dueOffsetDays:
                          type: number
                          minimum: 5
                          description: >-
                            Number of days after the payment start date until
                            payment is due (minimum of 5 days).
                      required:
                        - paymentOffsetDays
                        - dueOffsetDays
                      additionalProperties: false
                      nullable: true
                  required:
                    - startDate
                    - endDate
                    - billingEndDay
                    - planIds
                    - paymentSettings
                  additionalProperties: false
              oneOf:
                - required:
                    - paymentAccount
                  title: New contract with a new payment account.
                  description: >-
                    Provide a new payment account to create a new contract for
                    the new payment account.
                - required:
                    - paymentAccountId
                  title: New contract with an existing payment account.
                  description: >-
                    Provide an existing payment account ID to create a new
                    contract for the existing payment account.
              required:
                - contract
              additionalProperties: false
              description: A contract object.
        required: true
        description: A contract object.
      parameters:
        - schema:
            type: string
            format: uuid
          in: path
          name: id
          required: true
          description: The contract id.
      x-expose-in-openapi: true
      responses:
        '200':
          description: >-
            The request was successfully processed, and the contract has been
            updated. The response contains the details of the updated contract.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contract:
                    description: Schema defining the contract details.
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Unique identifier for the contract.
                      startDate:
                        type: string
                        format: date
                        description: Date when the contract becomes active.
                      endDate:
                        type: string
                        format: date
                        nullable: true
                        description: >-
                          Optional date when the contract expires. If null, the
                          contract has no end date.
                      billingEndDay:
                        type: number
                        minimum: 1
                        maximum: 31
                        description: Day of the month when the billing cycle ends (1-31).
                      status:
                        type: string
                        enum:
                          - active
                          - canceled
                          - completed
                        description: Current status of the contract.
                      plans:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              nullable: true
                          required:
                            - id
                            - name
                            - description
                          additionalProperties: false
                        description: >-
                          List of subscription plans associated with this
                          contract.
                      paymentSettings:
                        type: object
                        description: >-
                          Schema defining payment gateway settings for a
                          contract. Required if payment gateway is enabled.
                        properties:
                          paymentOffsetDays:
                            type: number
                            minimum: 0
                            description: >-
                              Number of days after the invoice is closed when
                              the payment will be initiated.
                          dueOffsetDays:
                            type: number
                            minimum: 5
                            description: >-
                              Number of days after the payment start date until
                              payment is due (minimum of 5 days).
                        required:
                          - paymentOffsetDays
                          - dueOffsetDays
                        additionalProperties: false
                        nullable: true
                    required:
                      - id
                      - startDate
                      - endDate
                      - billingEndDay
                      - status
                      - plans
                      - paymentSettings
                    additionalProperties: false
                  customer:
                    type: object
                    description: Schema representing a customer.
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The unique identifier of the customer.
                      externalId:
                        type: string
                        minLength: 1
                        description: External identifier for the customer.
                      name:
                        type: string
                        minLength: 1
                        description: The name of the customer.
                    required:
                      - id
                      - externalId
                      - name
                    additionalProperties: false
                  paymentAccount:
                    description: Schema representing a payment account.
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The unique identifier of the payment account.
                      businessName:
                        type: string
                        minLength: 1
                        description: The legal business name of the payment account holder.
                      tradeName:
                        type: string
                        minLength: 1
                        nullable: true
                        description: >-
                          The trade or "doing business as" name of the payment
                          account holder.
                      taxId:
                        type: string
                        pattern: ^\d{14}$
                        description: >-
                          The tax identification number (CNPJ) of the payment
                          account holder.
                      email:
                        type: string
                        format: email
                        nullable: true
                        description: The contact email address for the payment account.
                      address:
                        type: object
                        properties:
                          zipCode:
                            type: string
                            minLength: 8
                            maxLength: 8
                            pattern: ^[0-9]{8}$
                            description: The postal code (CEP) of the address.
                          number:
                            type: string
                            minLength: 1
                            description: The street number of the address.
                          street:
                            type: string
                            minLength: 1
                            description: The street name of the address.
                          neighborhood:
                            type: string
                            minLength: 1
                            description: The neighborhood or district of the address.
                          city:
                            type: string
                            minLength: 1
                            description: The city name of the address.
                          state:
                            type: string
                            enum:
                              - AC
                              - AL
                              - AP
                              - AM
                              - BA
                              - CE
                              - DF
                              - ES
                              - GO
                              - MA
                              - MT
                              - MS
                              - MG
                              - PA
                              - PB
                              - PR
                              - PE
                              - PI
                              - RJ
                              - RN
                              - RS
                              - RO
                              - RR
                              - SC
                              - SP
                              - SE
                              - TO
                            description: The state abbreviation of the address.
                          country:
                            type: string
                            enum:
                              - Brasil
                            description: The country code of the address.
                          complement:
                            type: string
                            nullable: true
                            description: >-
                              Additional address information like apartment
                              number, floor, etc.
                        required:
                          - zipCode
                          - number
                          - street
                          - neighborhood
                          - city
                          - state
                          - country
                          - complement
                        additionalProperties: false
                        nullable: true
                        description: >-
                          The physical address associated with the payment
                          account.
                    required:
                      - id
                      - businessName
                      - tradeName
                      - taxId
                      - email
                      - address
                    additionalProperties: false
                required:
                  - contract
                  - customer
                  - paymentAccount
                additionalProperties: false
                description: >-
                  The request was successfully processed, and the contract has
                  been updated. The response contains the details of the updated
                  contract.
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                description: Invalid request.
        '404':
          description: Contract not found.
          content:
            application/json:
              schema:
                description: Contract not found.
  /v1/contracts/{id}/cancel:
    post:
      summary: Cancel a Contract
      tags:
        - Contracts
      description: This endpoint allows the cancelation of a contract.
      parameters:
        - schema:
            type: string
            format: uuid
          in: path
          name: id
          required: true
          description: The contract id.
      x-expose-in-openapi: true
      responses:
        '200':
          description: >-
            The request was successfully processed, and the contract has been
            canceled. The response contains the details of the canceled
            contract.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contract:
                    description: Schema defining the contract details.
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Unique identifier for the contract.
                      startDate:
                        type: string
                        format: date
                        description: Date when the contract becomes active.
                      endDate:
                        type: string
                        format: date
                        nullable: true
                        description: >-
                          Optional date when the contract expires. If null, the
                          contract has no end date.
                      billingEndDay:
                        type: number
                        minimum: 1
                        maximum: 31
                        description: Day of the month when the billing cycle ends (1-31).
                      status:
                        type: string
                        enum:
                          - active
                          - canceled
                          - completed
                        description: Current status of the contract.
                      plans:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              nullable: true
                          required:
                            - id
                            - name
                            - description
                          additionalProperties: false
                        description: >-
                          List of subscription plans associated with this
                          contract.
                      paymentSettings:
                        type: object
                        description: >-
                          Schema defining payment gateway settings for a
                          contract. Required if payment gateway is enabled.
                        properties:
                          paymentOffsetDays:
                            type: number
                            minimum: 0
                            description: >-
                              Number of days after the invoice is closed when
                              the payment will be initiated.
                          dueOffsetDays:
                            type: number
                            minimum: 5
                            description: >-
                              Number of days after the payment start date until
                              payment is due (minimum of 5 days).
                        required:
                          - paymentOffsetDays
                          - dueOffsetDays
                        additionalProperties: false
                        nullable: true
                    required:
                      - id
                      - startDate
                      - endDate
                      - billingEndDay
                      - status
                      - plans
                      - paymentSettings
                    additionalProperties: false
                  customer:
                    type: object
                    description: Schema representing a customer.
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The unique identifier of the customer.
                      externalId:
                        type: string
                        minLength: 1
                        description: External identifier for the customer.
                      name:
                        type: string
                        minLength: 1
                        description: The name of the customer.
                    required:
                      - id
                      - externalId
                      - name
                    additionalProperties: false
                  paymentAccount:
                    description: Schema representing a payment account.
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The unique identifier of the payment account.
                      businessName:
                        type: string
                        minLength: 1
                        description: The legal business name of the payment account holder.
                      tradeName:
                        type: string
                        minLength: 1
                        nullable: true
                        description: >-
                          The trade or "doing business as" name of the payment
                          account holder.
                      taxId:
                        type: string
                        pattern: ^\d{14}$
                        description: >-
                          The tax identification number (CNPJ) of the payment
                          account holder.
                      email:
                        type: string
                        format: email
                        nullable: true
                        description: The contact email address for the payment account.
                      address:
                        type: object
                        properties:
                          zipCode:
                            type: string
                            minLength: 8
                            maxLength: 8
                            pattern: ^[0-9]{8}$
                            description: The postal code (CEP) of the address.
                          number:
                            type: string
                            minLength: 1
                            description: The street number of the address.
                          street:
                            type: string
                            minLength: 1
                            description: The street name of the address.
                          neighborhood:
                            type: string
                            minLength: 1
                            description: The neighborhood or district of the address.
                          city:
                            type: string
                            minLength: 1
                            description: The city name of the address.
                          state:
                            type: string
                            enum:
                              - AC
                              - AL
                              - AP
                              - AM
                              - BA
                              - CE
                              - DF
                              - ES
                              - GO
                              - MA
                              - MT
                              - MS
                              - MG
                              - PA
                              - PB
                              - PR
                              - PE
                              - PI
                              - RJ
                              - RN
                              - RS
                              - RO
                              - RR
                              - SC
                              - SP
                              - SE
                              - TO
                            description: The state abbreviation of the address.
                          country:
                            type: string
                            enum:
                              - Brasil
                            description: The country code of the address.
                          complement:
                            type: string
                            nullable: true
                            description: >-
                              Additional address information like apartment
                              number, floor, etc.
                        required:
                          - zipCode
                          - number
                          - street
                          - neighborhood
                          - city
                          - state
                          - country
                          - complement
                        additionalProperties: false
                        nullable: true
                        description: >-
                          The physical address associated with the payment
                          account.
                    required:
                      - id
                      - businessName
                      - tradeName
                      - taxId
                      - email
                      - address
                    additionalProperties: false
                required:
                  - contract
                  - customer
                  - paymentAccount
                additionalProperties: false
                description: >-
                  The request was successfully processed, and the contract has
                  been canceled. The response contains the details of the
                  canceled contract.
        '400':
          description: Contract must be active.
          content:
            application/json:
              schema:
                description: Contract must be active.
        '404':
          description: Contract not found.
          content:
            application/json:
              schema:
                description: Contract not found.
  /v1/resources/:
    post:
      summary: Create Resource
      tags:
        - Resources
      description: >-
        This endpoint allows for the creation of a resource used in customer billing.
        Each resource is defined by a name and an external identifier. Upon successful
        creation, a unique UUID for the resource is returned.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                description: Schema defining a resource.
                properties:
                  resourceExternalId:
                    type: string
                    minLength: 1
                    description: External identifier of the resource.
                  name:
                    type: string
                    minLength: 1
[...]
